@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: custom fonts */
body {
  font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}